/* CSS Document */

body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    border: inset;
    padding-top: 20px;
	background-image: url(../images/tile2.png);
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  /*text-decoration: none;*/
  /* font-size: 25px;*/
  /*color: #818181;*/
  display: block;
}

/* When you mouse over the navigation links, change their color 
.sidebar a:hover {
    color: #32387A;
}
*/
/* Style page content */
.main {
    height: 100%;
    margin-left: 160px; /* Same as the width of the sidebar */
    border: inset;
	padding-top: 0px;
	padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
