/* CSS Document */

body {
	max-width: 1920px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
	background-color: antiquewhite;
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    border: inset;
    padding-top: 20px;
	background-image: url(../images/tile2.png);
}

/* The navigation menu links */
.sidebar a {
    padding-top: 6px;
    padding-right: 8px;
	padding-left: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their style. */
.sidebar a:hover {
    color: #000000;
	text-decoration: underline;
}

/* Style page content */
.main {
	background-image: url("../pictures/006-Paper-Kraft.png");
    height: 100%;
    margin-left: 160px; /* Same as the width of the sidebar */
    border: inset;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
}

.block-quote {
	padding-left: 20px;
}
.divquote:before {
    content: open-quote;
}
.divquote:after {
    content: close-quote;
}
.divquote {
    margin-left: 2em;
    padding: 5px;
    border: 3px groove gray;
    border-radius: 5px;
    font-style: italic;
}
.picbox {
    overflow: auto;
    margin-top: 10px;
    padding: 10px;
}
.picbox img {
    border: 5px groove grey;
    margin: 10px;
    padding: 5px;
    float: left;
    display: block;
    height: 256px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
