/* CSS Document */

body {
	max-width: 1050px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: antiquewhite;
}
.navbar {
  overflow: hidden;
  background-image: url("../images/tile2.png");
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  text-decoration: underline;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  max-width: 1000px;
}