/* CSS Document */



body {
    max-width: 900px;
    margin: auto;
    background-image: url(images/tile8-marble.png);
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
}

.homepage-quote {
	overflow:auto; 
	/*border: 1px groove black; 
	border-radius: 10px; */
	padding: 10px; 
	color: white;
	margin-top: 10px; 
	background-image: url("images/tile13-bluebirds.png");
	background-color: #ffff;
	background-blend-mode: multiply;
	background-attachment: fixed;
}